* {
    padding: 0;
    margin: 0;
    color: var(--color);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.2s ease-out;
}

html,
body {
    width: 100%;
    height: 100%;
}

@keyframes carrosel {
    0%{translate: 0% 0;
    }
    25%{translate: -25% 0;}
    50%{translate: -50% 0;}
    75%{translate: -75% 0;}
    100%{
        translate: -101% 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-dark);
}

body {
    --bg: #fcfbfa;
    --color: #234;
    --blue: #7286D3;
    --blue-dark: #7286D3;
    --blue-white: #E5E0FF;
    --bege: #FFF2F2;
    background-color: var(--bg);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 3;
}

nav {
    width: 100%;
    height: 100%;
}

nav ul * , .logo{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

main {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden auto;
    z-index: 1;
}

section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 20px;
}

footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background: var(--color);
    padding: 20px;
}

footer *{
    color: var(--bg);
}

footer .logo img{
    width: 30px;
    height: 30px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.container_menu{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button{
    padding: 10px;
    background-color: var(--blue-white);
    border-radius: 15px;
    color: var(--color);
    cursor: pointer;
    border: 2px solid var(--blue-dark);
    box-shadow: 0px 0px 0 var(--blue-dark);
}

.button:hover{
    translate: 0 -3px;
    box-shadow: 0px 0px 0 var(--blue-dark),
    0px 1px 0 var(--blue-dark),
    0px 2px 0 var(--blue-dark),
    0px 3px 0 var(--blue-dark);
}

.button:active{
    translate: 0 0px;
    box-shadow: 0px 0px 0 var(--blue-dark);
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.row {
    flex-flow: row;
}

.column {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
}

img {
    height: 100%;
    max-width: 500px;
}

h2 {
    width: auto;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 0 var(--blue-white);
}

a{
    text-decoration: none;
    color: var(--color);
    font-size: clamp(0.9rem,1vw,1.5rem);
}

p{
    font-size: clamp(0.9rem,1vw,1.5rem);
    max-width: 500px;
}

#carrosel{
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

#carrosel h2{
    width: 100vw;
    text-align: center;
}

.carrosel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0px;
}

.cards{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation-name: carrosel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transition: 0.5s linear;
}

.carrosel:hover .cards{
    animation-play-state: paused;
}

.card{
    min-width: 25vw;
    height: 100px;
    background-color: var(--blue-white);
    cursor: pointer;
    border-radius: 15px;
}

.card:hover{
    translate: 0 -3px;
}

@media screen and (max-width:600px) {
    .row{
        flex-flow: column;
    }

    #intro img{
        height: 60%;
        max-height: 400px;
        order: 1;
    }

    #about img{
        display: none;
    }

    section{
        height: 100%;
    }

    .container_menu{
        position: fixed;
        z-index: 2;
        width: 100%;
        height: calc(100% - 80px);
        top: 80px;
        left: 0%;
        background-color: var(--bg);
        flex-flow: column;
        transition: 0.5s ease-out;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        opacity: 0;
    }
    
    .container_menu.click{
        pointer-events: all;
        opacity: 1;
    }

    .button:hover,.button:active{
        translate: 0 0px;
        box-shadow: 0px 0px 0 var(--blue-dark);
    }
    
    .button{
        translate: 0 -3px;
        box-shadow: 0px 3px 0 var(--blue-dark);
    }

    #menu {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    
    #menu div {
        transition: 0.1s;
    }
    
    #menu div,
    #menu div:before,
    #menu div:after {
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        margin: auto;
        background: var(--color);
        transition: 0.2s ease-out;
        border-radius: 2px;
    }
    
    #menu div:before {
        transform: translateY(10px);
    }
    
    #menu div:after {
        transform: translateY(-14px);
    }
    
    #menu.click div {
        background: transparent;
    }
    
    #menu.click div:before {
        transform: rotate(-45deg);
    }
    
    #menu.click div:after {
        transform: translateY(-4px) rotate(45deg);
    }
}