* {
    padding: 0;
    margin: 0;
    color: var(--color);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    transition: 0.2s ease-out;
}

html,
body {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-dark);
}

body {
    --bg: rgb(252, 251, 250);
    --color: #234;
    --blue: #7286D3;
    --blue-dark: #7286D3;
    --blue-white: #E5E0FF;
    --bege: #FFF2F2;
    background-color: var(--bg);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 3;
}

nav {
    width: 100%;
    height: 100%;
}

nav ul * {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#menu {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#menu div {
    transition: 0.1s;
}

#menu div,
#menu div:before,
#menu div:after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    margin: auto;
    background: var(--color);
    transition: 0.2s;
    border-radius: 2px;
}

#menu div:before {
    transform: translateY(10px);
}

#menu div:after {
    transform: translateY(-14px);
}

#menu.click div {
    background: transparent;
}

#menu.click div:before {
    transform: rotate(-45deg);
}

#menu.click div:after {
    transform: translateY(-4px) rotate(45deg);
}

main {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    overflow: auto;
    z-index: 1;
}

section {
    width: 100%;
    height: 80%;
    padding: 20px;
}

footer {
    width: 100%;
    height: 100px;
    background: var(--blue-dark);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.row {
    flex-flow: row;
}

.column {
    flex-flow: column;
}

.intro img {
    width: 50%;
    max-width: 500px;
}

.intro h2 {
    width: 100%;
    font-size: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 0 var(--blue-white);
}

.container-menu{
    position: fixed;
    z-index: 2;
    top: -100%;
    left: 0;
}

.container-menu.click{
    top: 0;
}

a{
    text-decoration: none;
    color: var(--color);
}